.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.advantages__item {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.advantages__item-list {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 256px;
    min-height: 256px;
    padding: 38px 40px 10px;
  }

  @media (min-width: 1280px) {
    width: 400px;
    min-height: 256px;
    padding: 42px 40px 10px;
  }
}

.advantages__item-list:last-child .advantages__container {
  border-bottom: none;
}

.advantages__item-list--color {
  min-height: 191px;
  padding: 41px 20px 10px;
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: 768px) {
    padding: 42px 30px 10px;
  }

  @media (min-width: 1280px) {
    padding: 52px 25px 10px;
  }
}

.advantages__item-list--mask {
  min-height: 211px;
  padding: 74px 20px 37px 20px;
  background-image: url("../img/decor/intro-triangle2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 37px;

  @media (min-width: 768px) {
    padding-top: 42px;
    background: #81b3d2;
  }

  @media (min-width: 1280px) {
    padding-top: 45px;
  }
}

.advantages__container {
  border-bottom: 1px solid #d6d6d6;
  padding: 26px 17px 23px 17px;

  @media (min-width: 768px) {
    padding: 5px 0 24px 0;
    border: none;
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 150px;
    margin: 0 auto 9px;
    font-size: 21px;
  }
}

.advantages__number {
  margin-top: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }
}

.advantages__description {
  line-height: 21px;
  text-align: center;
  margin: 0;

  @media (min-width: 1280px) {
    max-width: 290px;
    margin: 0 auto;
  }
}

.advantages__indent {
  display: none;

  @media (min-width: 1280px) {
    display: inline;
  }
}

.advantages__transfer {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }

  @media (min-width: 1280px) {
    display: none;
  }
}

.advantages--volume {
  max-width: 220px;
  margin: 18px auto 0 auto;

  @media (min-width: 768px) {
    max-width: 157px;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    max-width: 260px;
  }
}

.advantages__hotel {
  background-image: url("../img/building/hotel-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;

  @media (min-width: 768px) {
    background-image: url("../img/building/hotel-tablet.jpg");
    height: 256px;
  }

  @media (min-width: 1280px) {
    background-image: url("../img/building/hotel.jpg");
    height: 256px;
  }
}

.advantages__hotel img {
  width: 100%;
  height: 100%;
}

.advantages__bridge {
  background-image: url("../img/landscapes/the-devil's-bridge-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;

  @media (min-width: 768px) {
    background-image: url("../img/landscapes/the-devil's-bridge-tablet.jpg");
    height: 256px;
  }

  @media (min-width: 1280px) {
    background-image: url("../img/landscapes/the-devil's-bridge.png");
    height: 256px;
  }
}

.advantages__bridge img {
  width: 100%;
  height: 100%;
}

.advantages__general {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}

.advantages__general--second {
  @media (min-width: 768px) {
    grid-template-columns: 1fr 256px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 400px;
  }
}

.advantages__general--second .advantages__hotel {
  @media (min-width: 768px) {
    order: -1;
  }
}

.advantages__general--second .advantages__bridge {
  @media (min-width: 768px) {
    order: -1;
  }
}

.advantages__recommendations {
  margin: 0;
  padding: 25px 0 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    padding-bottom: 40px;
  }
}

.advantages__recommendations-item {
  min-height: 114px;
  padding: 11px 20px 12px 70px;
  background-repeat: no-repeat;
  background-position: 22px 3px;
  background-color: transparent;

  @media (min-width: 768px) {
    padding: 133px 31px 39px;
    background-position: center 35px;
  }
}

.advantages__recommendations-item:last-child {
  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.advantages__recommendations-item .advantages__title {
  margin: 0;
  text-align: left;

  @media (min-width: 768px) {
    margin: 0 auto;
    text-align: center;
  }
}

.advantages__recommendations-item .advantages__description {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: left;

  @media (min-width: 768px) {
    margin-top: 23px;
    text-align: center;
  }
}

.advantages__recommendations-item--home {
  background-image: url("../img/decor/lodge.svg");
  background-size: 39px 37px;

  @media (min-width: 768px) {
    background-size: 75px 72px;
  }
}

.advantages__recommendations-item--food {
  background-image: url("../img/decor/burger.svg");
  background-size: 40px 35px;
  position: relative;
  left: -3px;

  @media (min-width: 768px) {
    background-size: 76px 71px;
    left: 0;
  }
}

.advantages__recommendations-item--plus {
  background-image: url("../img/decor/gift.svg");
  background-size: 32px 38px;
  margin-left: 3px;

  @media (min-width: 768px) {
    order: 1;
    background-size: 64px 72px;
    margin: 0;
    position: relative;
    top: -2px;
  }
}
