.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item-list {
  min-height: 211px;
}

.advantages__item-list--color {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item-list--color2 {
  background-color: #eeeeee;
}

.advantages__title {
  text-align: center;
  margin: 0 auto;
  padding: 47px 0 15px 0;
  font-size: 21px;
}

.advantages__number {
  text-align: center;
  margin: 0 auto 26px auto;
}

.advantages__description {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 21px;
}

.advantages__photo {
  width: 100%;
  height: 260px;
}

.advantages__hotel {
  max-width: 100%;
}

.advantages__recommendations {
  margin: 0;
  padding: 0;
}

.advantages__recommendations-item--home {
  background-image: url("../img/decor/lodge.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position-x: center;
}

.advantages__recommendations-item--food {
  background-image: url("../img/decor/burger.svg");
  background-repeat: no-repeat;
  background-size: 76px 69px;
  background-position-x: center;
}

.advantages__recommendations-item--plus {
  background-image: url("../img/decor/gift.svg");
  background-repeat: no-repeat;
  background-size: 63px 75px;
  background-position-x: center;
}

.advantages__title-2 {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 28px 0 15px 0;
  font-size: 21px;
}

.advantages__text {
  width: 240px;
  text-align: center;
  margin: 0 auto;
}

.advantages__text2 {
  width: 230px;
  text-align: center;
  margin: 0 auto;
}

.advantages__bridge {
  max-width: 100%;
}

.advantages__textual {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 21px;
}
