.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.advantages__item {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.advantages__item-list {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    width: 256px;
    min-height: 256px;
    padding: 42px 40px 10px;
  }

  @media (min-width: 1280px) {
    width: 400px;
    min-height: 256px;
    padding: 42px 40px 10px;
  }
}

.advantages__item-list:last-child .advantages__container {
  border-bottom: none;
}

.advantages__item-list--color {
  min-height: 191px;
  padding: 21px 20px 10px;
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: 768px) {
    padding: 42px 30px 10px;
  }
}

.advantages__item-list--mask {
  min-height: 211px;
  padding: 54px 20px 24px 20px;
  background-image: url("../img/decor/intro-triangle2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 37px;

  @media (min-width: 768px) {
    padding-top: 42px;
    background: #81b3d2;
  }
}

.advantages__item-list--color2 {
  background-color: #eeeeee;
}

.advantages__container {
  border-bottom: 1px solid #d6d6d6;
  padding: 26px 20px 24px 20px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 150px;
    margin: 0 auto 9px;
    font-size: 21px;
  }
}

.advantages__number {
  margin-top: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }
}

.advantages__description {
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages__photo {
  width: 100%;
  height: 260px;

  @media (min-width: 768px) {
    height: 256px;
  }
}

.advantages__photo img {
  width: 100%;
  height: 100%;
}

.advantages__general {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}

.advantages__general--second {
  @media (min-width: 768px) {
    grid-template-columns: 1fr 256px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 400px;
  }
}

.advantages__general--second .advantages__photo {
  @media (min-width: 768px) {
    order: -1;
  }
}

.advantages__recommendations {
  margin: 0;
  padding: 25px 0 21px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__recommendations-item {
  min-height: 114px;
  padding: 11px 20px 12px 70px;
  background-repeat: no-repeat;
  background-position: 22px 3px;

  @media (min-width: 768px) {
    padding: 133px 31px 39px;
    background-position: center 35px;
  }
}

.advantages__recommendations-item:last-child {
  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.advantages__recommendations-item .advantages__title {
  margin: 0;
  text-align: left;

  @media (min-width: 768px) {
    margin: 0 auto;
    text-align: center;
  }
}

.advantages__recommendations-item .advantages__description {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: left;

  @media (min-width: 768px) {
    margin-top: 23px;
    text-align: center;
  }
}

.advantages__recommendations-item--home {
  background-image: url("../img/decor/lodge.svg");
  background-size: 39px 37px;

  @media (min-width: 768px) {
    background-size: 75px 72px;
  }
}

.advantages__recommendations-item--food {
  background-image: url("../img/decor/burger.svg");
  background-size: 40px 35px;

  @media (min-width: 768px) {
    background-size: 76px 71px;
  }
}

.advantages__recommendations-item--plus {
  background-image: url("../img/decor/gift.svg");
  background-size: 32px 38px;

  @media (min-width: 768px) {
    order: 1;
    background-size: 64px 72px;
  }
}
