.back-desktop__bg2 {
  background-image: url("../img/decor/intro-triangle.svg"),
                    url("../img/landscapes/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 57px, 100% 214px;
  background-position: center bottom, bottom;
  min-height: 214px;
  padding-top: 101px;
}

.back-desktop__sedona {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 229px;
  height: 39px;
}

.back-desktop__content {
  padding: 102px 0 30px 0;
}

.back-desktop__place {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.back-desktop__reasons {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 67px;
}

.photogallery__img-container {
  width: 280px;
  height: 280px;
}

.photogallery__img {
  max-width: 100%;
}

.photogallery__title {
  color: #FFFFFF;
}

.photogallery__text {
  text-transform: none;
}

.photogallery__like {
  display: block;
  background-image: url("../img/icons/like-icon.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  width: 23px;
  height: 21px;
  border: none;
}

.photogallery__img-container2 {
  width: 280px;
  height: 280px;
}

.photogallery__img2 {
  max-width: 100%;
}

.videocontent {
  margin: 0 auto;
  text-align: center;
}

.videocontent__title {
  font-size: 30px;
}

.videocontent__text {
  width: 270px;
  margin: 0 auto;
  padding: 10px 0 66px 0;
  text-align: center;
}

.videocontent__img {
  width: 320px;
  height: 201px;
}
