.footer__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer__social-item {
  background-color: #81b3d2;
  margin: 0 3px;
  width: 46px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-twitter {
  background-image: url("../img/icons/twitter.svg");
  background-size: 18px 15px;
}

.footer__social-facebook {
  background-image: url("../img/icons/facebook.svg");
  background-size: 9px 19px;
}

.footer__social-youtube {
  background-image: url("../img/icons/youtube.svg");
  background-size: 20px 14px;
}

.footer__academy {
  display: flex;
  align-items: center;
}

.footer__link-html {
  display: block;
  background-image: url("../img/icons/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 27px;
  height: 34px;
}
