.footer {
  padding-top: 31px;
  padding-bottom: 12px;
  text-align: center;

  @media (min-width: 768px) {
    display: grid;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-2 {
  padding-top: 81px;
  padding-bottom: 12px;
  text-align: center;

  @media (min-width: 768px) {
    display: grid;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-3 {
  padding-bottom: 12px;
  text-align: center;

  @media (min-width: 768px) {
    display: grid;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__link {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 10px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__social-item {
  margin: 0 3px;
}

.footer__social-link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-twitter {
  background-image: url("../img/icons/twitter.svg");
  background-size: 18px 15px;
}

.footer__social-facebook {
  background-image: url("../img/icons/facebook.svg");
  background-size: 9px 19px;
}

.footer__social-youtube {
  background-image: url("../img/icons/youtube.svg");
  background-size: 20px 14px;
}

.footer__academy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  @media (min-width: 768px) {
    margin: 5px 0 0 5px;
  }
}

.footer__link-html {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: 11px;
  background-image: url("../img/icons/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}
