.form {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  padding-bottom: 10px;

  @media (min-width: 768px) {
    grid-column: 1/-1;
  }
}

.form__fieldset-2 {
  @media (min-width: 768px) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/2;
    order: -1;
  }
}

.form__fieldset-3 {
  @media (min-width: 768px) {
    display: grid;
    grid-column: 2/-1;
    justify-items: end;
  }
}

.form__heading {
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
    text-align: left;
    margin: 0;
  }
}

.form__label2 {
  @media (min-width: 768px) {
    margin-left: 20px;
  }
}

.form__legend {
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.form__input--text {
  margin: 0 0 20px 10px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none;
  width: 230px;
  height: 58px;
}

.form__input--text::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form__input--text2 {
  margin: 0 0 20px 10px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none;
  width: 192px;
  height: 58px;
}

.form__input--text2::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form__label-text {
  margin-left: 30px;

  @media (min-width: 768px) {
    margin-left: 62px;
  }
}

.form__input--infa {
  width: 280px;
  height: 58px;
  margin-top: 6px;
  padding-left: 22px;
  border: none;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    width: 648px;
    margin: 0 0 15px 40px;
  }

  @media (min-width: 1280px) {
    width: 315px;
    margin: 52px 0 15px 20px;
  }
}

.form__input--infa::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form__input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin-bottom: 42px;
}

.form__input:checked + .form__mark {
  background-image: url("../img/icons/circle.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.form__input:focus + .form__mark {
  background-color: #f2f2f2;
  border-radius: 25px;
}

.form__input:checked:focus + .form__mark {
  background-image: url("../img/icons/circle.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.form__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 5px 0 20px 0;

  @media (min-width: 768px) {
    width: 46px;
    height: 46px;
    margin: 5px 0 0 0;
  }
}

.form__legend2 {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
    width: 308px;
  }

  @media (min-width: 1280px) {
    width: 308px;
  }
}

.form__list-2 {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 38px 140px 0 140px;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__opinion {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  padding: 15px 0 0 66px;
}

.form__attractions-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin-bottom: 42px;
}

.form__attractions-input:checked + .form__attractions-mark {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__attractions-input:focus + .form__attractions-mark {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__attractions-input:checked:focus + .form__attractions-mark {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__attractions-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 5px 0 20px 0;

  @media (min-width: 768px) {
    width: 46px;
    height: 46px;
    margin: 5px 0 0 -40px;
  }
}

.form__attractions {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  padding: 15px 0 0 66px;

  @media (min-width: 768px) {
    padding: 15px 0 0 36px;
  }
}

.form__textarea {
  display: block;
  width: 279px;
  height: 160px;
  background-color: #f2f2f2;
  border: none;
  margin: 0 auto 51px auto;

  @media (min-width: 768px) {
    width: 648px;
  }

  @media (min-width: 1280px) {
    width: 960px;
  }
}

.form__textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  padding: 13px 0 0 21px;
}

.form__data {
  @media (min-width: 768px) {
    display: flex;
    justify-self: end;
  }
}

.form__submit {
  display: block;
  background-color: #81b3d2;
  border: none;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding: 19px 33px 14px 32px;
  margin: 0 auto 77px auto;

  @media (min-width: 768px) {
    margin: 0 0 77px 60px;
  }

  @media (min-width: 1280px) {
    padding: 19px 132px 14px 133px;
    margin: 0 115px 77px 120px;
  }
}

.form__text {
  display: none;

  @media (min-width: 768px) {
    display: inline;
    margin-left: 237px;
  }
}
