.form__fieldset {
  border-top: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 20px 24px 20px;
}

.form__heading {
  font-size: 18px;
  text-align: center;
  margin: 0 0 19px 0;
}

.form__control {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 12px;
  align-items: center;
  margin: 0 0 20px 0;
}

.form__control:last-child {
  margin: 0;
}

.form__label {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

.form__input {
  font-family: "PT Sans", sans-serif;
  padding: 11px 0 9px 21px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  height: 58px;
  min-width: 0;
}

.form__input::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form__fieldset--contacts .form__heading {
  margin-bottom: 22px;
}

.form__fieldset--contacts {
  padding-bottom: 27px;
}

.form__fieldset--experience {
  padding-bottom: 28px;
}

.form__control--vertical {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.form__control--vertical .form__label {
  padding: 0 0 0 22px;
}

.form__icon {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
}

.form__icon--tel {
  background-image: url("../img/icons/phone.svg");
}

.form__icon--email {
  background-image: url("../img/icons/mail.svg");
}

.form__list {
  display: grid;
  grid-gap: 24px;
}

.form__list--radio {
  grid-gap: 13px;
}

.form__item {
  margin-bottom: 35px;
  height: 35px;
}

.form__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__input:checked + .form__mark {
  background-image: url("../img/icons/circle.svg");
  background-repeat: no-repeat;
  background-position: center, center;
}

.form__input:focus + .form__mark {
  background-color: #f2f2f2;
  border-radius: 25px;
}

.form__input:checked:focus + .form__mark {
  background-image: url("../img/icons/circle.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.form__opinion {
  display: block;
  padding: 23px 0 17px 77px;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.form__fieldset--attraction {
  padding-top: 15px;
  padding-bottom: 26px;
}

.form__attractions-mark {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__attractions-input:checked + .form__attractions-mark {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center, center;
}

.form__attractions-input:focus + .form__attractions-mark {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__attractions-input:checked:focus + .form__attractions-mark {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__textarea {
  display: block;
  width: 279px;
  height: 160px;
  background-color: #f2f2f2;
  border: none;
  margin: 0 auto 22px auto;
  resize: none;
}

.form__textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  padding: 7px 0 0 17px;
}

.form__submit {
  display: block;
  background-color: #81b3d2;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  padding: 20px 46px 14px 46px;
  margin: 0 auto 48px auto;
  text-transform: uppercase;
}

.form__text {
  display: none;
}
