.mountains__bg {
  min-height: 389px;
  margin: 0 auto;
  padding-top: 90px;
  background-image: url("../img/decor/intro-triangle.svg"), url("../img/landscapes/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: cover, cover;

  @media (min-width: 768px) {
    min-height: 519px;
    padding-top: 76px;
    background-image: url("../img/decor/intro-triangle-tablet.svg"), url("../img/landscapes/back-tablet.jpg");
    background-size: 1200px 57px, 1200px 518px;
  }

  @media (min-width: 1280px) {
    min-height: 519px;
    padding-top: 76px;
    background-image: url("../img/decor/intro-triangle-desktop.svg"), url("../img/landscapes/back-desktop.jpg");
    background-size: 1200px 57px, 1200px 518px;
  }
}

.mountains__welcome {
  display: block;
  width: 282px;
  height: auto;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 461px;
  }
}

.mountains__content {
  padding: 15px 28px 14px;
  background-image: url("../img/decor/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-width: 768px) {
    max-width: 545px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 40px;
  }
}

.mountains__place {
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.mountains__reasons {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}
