.mountains__bg {
  min-height: 389px;
  margin: 0 auto;
  padding-top: 90px;
  background-image: url("../img/decor/intro-triangle.svg"), url("../img/landscapes/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: cover, cover;

  @media (min-width: 768px) {
    min-height: 519px;
    padding-top: 76px;
    background-image: url("../img/decor/intro-triangle-tablet.svg"), url("../img/landscapes/back-tablet.jpg");
    background-size: 100%;
  }

  @media (min-width: 1280px) {
    min-height: 519px;
    padding-top: 76px;
    background-image: url("../img/decor/intro-triangle-desktop.svg"), url("../img/landscapes/back-desktop.jpg");
  }
}

.mountains__bg-2 {
  min-height: 214px;
  margin: 0 auto;
  padding-top: 52px;
  background-image: url("../img/decor/intro-triangle.svg"), url("../img/landscapes/back-mobile-2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: cover, cover;

  @media (min-width: 768px) {
    min-height: 419px;
    padding-top: 95px;
    background-image: url("../img/decor/intro-triangle-tablet.svg"), url("../img/landscapes/back-tablet-2.jpg");
    background-size: 768px 57px, 768px 418px;
    background-position: center bottom, center;
  }

  @media (min-width: 1280px) {
    min-height: 419px;
    padding-top: 101px;
    background-image: url("../img/decor/intro-triangle-desktop.svg"), url("../img/landscapes/back-desktop-2.jpg");
    background-size: 1200px 57px, 1200px 418px;
  }
}

.mountains__welcome {
  display: block;
  width: 282px;
  height: auto;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 461px;
  }
}

.mountains__sedona {
  display: block;
  width: 229px;
  height: auto;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 457px;
  }

  @media (min-width: 1280px) {
    width: 460px;
  }
}

.mountains__content {
  padding: 15px 28px 14px;
  background-image: url("../img/decor/intro-triangle2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-width: 768px) {
    max-width: 625px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 40px;
  }
}

.mountains__content-2 {
  width: 306px;
  margin: 0 auto;
  padding: 34px 0 0 0;

  @media (min-width: 768px) {
    width: 500px;
    padding: 54px 0 51px 0;
  }
}

.mountains__content-3 {
  width: 290px;
  margin: 0 auto;
  padding: 34px 0 20px 0;

  @media (min-width: 768px) {
    width: 500px;
    padding: 54px 0 51px 0;
  }
}

.mountains__place {
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.mountains__reasons {
  text-align: center;
}
