.navigation {
  position: relative;
  min-height: 56px;
}

.navigation__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: #81b3d2;

  @media (min-width: 768px) {
    position: static;
    display: grid;
    gap: 102px;
    background: none;
    grid-template-columns: 1fr 1fr;
  }
}

.navigation--open .navigation__container {
  display: block;
}

.navigation--open .navigation__toggle {
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1280px) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;

  @media (min-width: 768px) {
    display: grid;
    background: none;
    gap: 4px;
    grid-template-columns: 151px 151px;
  }

  @media (min-width: 1280px) {
    display: grid;
    background: none;
    gap: 4px;
    grid-template-columns: 239px 239px;
  }
}

.navigation__list:first-child {
  margin-right: auto;
}

.navigation__list:last-child {
  margin-left: auto;
}

.navigation__toggle {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 11;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__item {
  padding: 10px 10px 6px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: 768px) {
    width: 100%;
    padding: 15px 10px 15px;
    box-shadow: none;
  }
}

.navigation--open .navigation__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.navigation__link {
  @media (min-width: 768px) {
    font-weight: 700;
  }
}

.navigation__gallery {
  @media (min-width: 1280px) {
    margin: 0 0 0 -10px;
  }
}

.navigation__form {
  @media (min-width: 768px) {
    margin: 0 0 0 8px;
  }
}

.navigation__link--active {
  color: #766357;
}
