.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-size: 14px;
  line-height: 26px;
}

.navigation__link--active {
  color: #766357;
}

.navigation__link-active {
  color: #766357;
}

.navigation__logo {
  width: 102px;
  height: 84px;
}
