.mountains__bg {
  background-image: url("../img/decor/intro-triangle.svg"),
                    url("../img/landscapes/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 57px, 100% 389px;
  background-position: center bottom, center;
  padding-top: 78px;
  min-height: 389px;
}

.mountains__welcome {
  display: block;
  margin: 0 auto;
  width: 282px;
  height: 214px;
}

.mountains__place {
  font-weight: bold;
  width: 300px;
  text-align: center;
  margin: 55px auto;
  font-size: 21px;
}

.mountains__reasons {
  text-align: center;
  margin: 41px auto;
  font-size: 16px;
  width: 300px;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item-list {
  width: 320px;
  min-height: 211px;
}

.advantages__item-list--color {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.advantages__item-list--color2 {
  background-color: #EEEEEE;
}

.advantages__title {
  text-align: center;
  margin: 0 auto;
  padding: 47px 0 15px 0;
  font-size: 21px;
}

.advantages__number {
  text-align: center;
  margin: 0 auto 26px auto;
}

.advantages__description {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 21px;
}

.advantages__photo {
  width: 520px;
  height: 260px;
}

.advantages__hotel {
  max-width: 100%;
}

.advantages__recommendations {
  margin: 0;
  padding: 0;
}

.advantages__recommendations-item--home {
  background-image: url("../img/decor/lodge.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position-x: center;
}

.advantages__recommendations-item--food {
  background-image: url("../img/decor/burger.svg");
  background-repeat: no-repeat;
  background-size: 76px 69px;
  background-position-x: center;
}

.advantages__recommendations-item--plus {
  background-image: url("../img/decor/gift.svg");
  background-repeat: no-repeat;
  background-size: 63px 75px;
  background-position-x: center;
}

.advantages__title-2 {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 28px 0 15px 0;
  font-size: 21px;
}

.advantages__text {
  width: 240px;
  text-align: center;
  margin: 0 auto;
}

.advantages__text2 {
  width: 230px;
  text-align: center;
  margin: 0 auto;
}

.advantages__bridge {
  max-width: 100%;
}

.advantages__textual {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 21px;
}

.search {
  width: 320px;
  min-height: 211px;
  text-align: center;
}

.search__title {
  font-weight: bold;
  font-size: 26px;
}

.search__text {
  width: 280px;
  margin: 0 auto;
}

.search__btn {
  display: block;
  background-color: #81B3D2;
  margin: 0 auto;
  padding: 15px 32px 18px 32px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.map__data {
  width: 320px;
  height: 350px;
}
