.photogallery__list {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.photogallery__item {
  position: relative;
  padding: 22px 20px 15px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 0;
    border: none;
  }
}

.photogallery__item:first-child {
  @media (min-width: 768px) {
    grid-column: 1/-1;
  }
}

.photogallery__item:first-child .photogallery__img-container {
  @media (min-width: 768px) {
    height: 400px;
  }
}

.photogallery__img-container {
  width: 100%;
  height: 280px;

  @media (min-width: 768px) {
    height: 267px;
  }
}

.photogallery__img {
  display: block;
  width: 100%;
  height: 100%;
}

.photogallery__content {
  padding-top: 15px;
  padding-bottom: 19px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px;
    background-color: #f2f2f2;
  }

  @media (min-width: 1280px) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #ffffff;
  }
}

.photogallery__heading {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.photogallery__text {
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
}

.photogallery__like {
  display: block;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  background-image: url("../img/icons/like-icon2.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  margin-top: 10px;
  padding: 3px 0 0 30px;
  border: none;
  line-height: 24px;

  @media (min-width: 768px) {
    background-color: #f2f2f2;
  }

  @media (min-width: 1280px) {
    background-image: url("../img/icons/like-icon.svg");
    background-repeat: no-repeat;
    background-size: 23px 21px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: #ffffff;
  }
}
