.search {
  min-height: 211px;
  text-align: center;
}

.search__title {
  font-weight: bold;
  font-size: 26px;
}

.search__text {
  width: 280px;
  margin: 0 auto;
}

.search__btn {
  display: block;
  background-color: #81b3d2;
  margin: 0 auto;
  padding: 15px 32px 18px 32px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
