.search {
  padding: 18px 18px 49px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 458px;
    margin: 0 auto;
    padding: 28px 0 58px;
  }
}

.search__title {
  font-weight: bold;
  font-size: 21px;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin: 30px 0 32px 0;
    font-size: 30px;
  }
}

.search__text {
  margin: 18px 0 25px 0;

  @media (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.search__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 15px 15px 17px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: 768px) {
    width: 100%;
  }
}
