.videocontent__container {
  margin: 0 auto;
  text-align: center;
}

.videocontent__title {
  padding-top: 32px;
  font-size: 18px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding-top: 59px;
    font-size: 30px;
    border-top: none;
  }

  @media (min-width: 1280px) {
    padding-top: 63px;
    font-size: 30px;
  }
}

.videocontent__text {
  width: 270px;
  margin: 0 auto;
  padding: 10px 0 66px 0;
  text-align: center;

  @media (min-width: 768px) {
    width: 580px;
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.videocontent__video {
  position: relative;

  @media (min-width: 768px) {
    width: 648px;
    margin: 0 auto 40px auto;
  }

  @media (min-width: 1280px) {
    width: 800px;
    margin: 0 auto 85px auto;
  }
}

.videocontent__img {
  display: block;
  width: 100%;
  height: 201px;

  @media (min-width: 768px) {
    height: 500px;
  }
}

.videocontent__object {
  position: relative;
  width: 280px;
  min-height: 66px;
  margin: 0 auto 50px auto;
  background: #f2f2f2;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 93px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
}

.videocontent__replay {
  background-image: url("../img/icons/replay-2.svg");
  background-size: 16px 20px;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  border: none;
  margin: 20px 60px 0 25px;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background-image: url("../img/icons/replay.svg");
    background-size: 16px 20px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    margin: 30px 40px 0 40px;
  }
}

.videocontent__object-2 {
  display: block;
  position: absolute;
  top: -45px;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: 768px) {
    position: relative;
    top: auto;
    width: 389px;
    background-color: transparent;
  }
}

.videocontent__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: 389px;
    transform: translate(-25%, -45%);
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    width: 546px;
    transform: translate(-20%, -5%);
  }
}

.videocontent__line-circle {
  display: block;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  margin: -5px 0 0 40px;

  @media (min-width: 768px) {
    margin: -5px 0 0 110px;
  }
}

.videocontent__subtitles {
  background-image: url("../img/icons/subtitles-2.svg");
  background-size: 32px 20px;
  background-repeat: no-repeat;
  width: 32px;
  height: 20px;
  border: none;
  margin: 0 30px 0 60px;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background-image: url("../img/icons/subtitles.svg");
    background-size: 32px 20px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    right: 60px;
    top: 33px;
  }
}

.videocontent__fullscreen {
  background-image: url("../img/icons/fullscreen-2.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background-image: url("../img/icons/fullscreen.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    right: 30px;
    top: 33px;
  }
}
