.videocontent {
  margin: 0 auto;
  text-align: center;
}

.videocontent__title {
  font-size: 30px;
}

.videocontent__text {
  width: 270px;
  margin: 0 auto;
  padding: 10px 0 66px 0;
  text-align: center;
}

.videocontent__img {
  width: 320px;
  height: 201px;
}
