*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #FFFFFF;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
